<h1>You Have Successfully Authenticated Using GroupMe!</h1>
<p><button type="button" class="btn btn-default" id="user-info-btn">Load User Info</button></p>
<div id="user-info" style="display: none">
<ul>
</ul>
</div>
<script>
document.addEventListener("DOMContentLoaded", loadButtons);

function loadButtons() {
	document.getElementById("user-info-btn").addEventListener("click", function(event) {
		var req = new XMLHttpRequest();
		req.open("GET", "/api?q=user", true);
		req.addEventListener("load",function() {
		if (req.status >= 200 && req.status < 400)
		{
			var currDiv = document.getElementById("user-info");
			if (currDiv.style.display == "none")
			{
				var userObj = JSON.parse(req.responseText);
				var bullet = document.createElement("li");
				bullet.textContent = "ID: " + userObj.id;
				currDiv.firstElementChild.appendChild(bullet);
				bullet = document.createElement("li");
				bullet.textContent = "Phone: " + userObj.phone_number;
				currDiv.firstElementChild.appendChild(bullet);
				bullet = document.createElement("li");
				bullet.textContent = "Name: " + userObj.name;
				currDiv.firstElementChild.appendChild(bullet);
				bullet = document.createElement("li");
				bullet.textContent = "Email: " + userObj.email;
				currDiv.firstElementChild.appendChild(bullet);
				currDiv.style.display = "block";
			}
		}
		else
		{
			console.log("Error: " + req.statusText);
		}});
		req.send(null);
		event.preventDefault();	
	})};
</script>